<div class="body">
<app-sidebar></app-sidebar>
<div class="main">
  <div class="top">
    <h1 class="titre">Ajouter un traitement</h1>
  </div>

  <div class="titre2">
    <h2>Veuillez remplir les informations ci-dessous pour prescrire un traitement à un patient !</h2>
  </div>

  <div class="id">
    <h2>Sélection du patient</h2>
  <form>
    <label for="id_patient">id du patient</label><br>
    <select id="id_patient" [(ngModel)]="traitement.id_patient" name="id_patient">
      @for(idenPatient of idPatients(); track $index){
        <option [value]="idenPatient.nom">{{idenPatient.nom}}</option>
      }
      
    </select>
  </form>
  </div>

  <div class="select-maladie">
    <h2>Sélection de la maladie concernée </h2>
  <form>
    <label for="id_maladie">id de la maladie</label><br>
    <select id="id_maladie" [(ngModel)]="traitement.id_maladie" name="id_maladie">
      @for (identifiant of idMaladie(); track $index) {
        <option [value]="identifiant.nom">{{ `${identifiant.idMaladie} ${identifiant.nom} ` }}</option>
      }
      
    </select>
  </form>
  </div>

  <div class="select-traitemet">
    <h2>Informations du traitement </h2>
    <form id="formbutton">
      <div class="left">
        <label for="nom">Nom du traitement</label><br>
        <input type="text" id="nom" [(ngModel)]="traitement.nomTraitement" name="nomTraitement"><br>

        <label for="date_debut">Date début</label><br>
        <input type="date" id="date_debut" [(ngModel)]="traitement.datedebut" name="date_debut">
      </div>

      <div class="right">
        <label for="desc">Description</label><br>
        <input type="text" id="desc" [(ngModel)]="traitement.description" name="description"><br>

        <label for="date_fin">Date fin</label><br>
        <input type="date" id="date_fin" [(ngModel)]="traitement.datefin" name="date_fin">
      </div>
    </form>
  </div>

  <div class="select-agent">
    <h2>Section Agent de santé</h2>
  <form>
    <label for="id_agent">id de l'agent de santé</label><br>
    <input type="text" list="id_agent" id="id_agent" [(ngModel)]="traitement.id_agent_sante" name="id_agent">
    <datalist id="id_agent">
      @for (idenAgent of idAgent(); track $index) {
        <option [value]="idenAgent.nom">{{ idenAgent.nom }}</option>
      }
    </datalist>
  </form>
  </div>

  <div class="btn1">
    <input type="reset" class="annuler" (click)="onAnnuler()" form="formbutton" value="Annuler">
    <input type="submit" class="ajouter" (click)="onSubmit()" form="formbutton" value="Ajouter">
  </div>
</div>
</div>