<div class="body">
<app-sidebar></app-sidebar>
  <div class="main">
    <div class="top">
      <h1 class="titre">Ajouter un traitement</h1>
    </div>

    <div class="titre2">
      <h2>Veuillez remplir les informations ci-dessous pour prescrire un traitement à un patient !</h2>
    </div>

    <div class="id">
      <h2>Sélection du patient</h2>
      <form>
        <label for="id_patient">id du patient</label><br>
        <select id="id_patient" [(ngModel)]="traitement.id_patient" name="id_patient">
          <option value="0" disabled>-- Sélectionnez un patient --</option>
          @for (idenPatient of idPatients(); track $index) {
            <option [value]="idenPatient.idUtilisateur">{{ idenPatient.nom }} {{ idenPatient.prenom }}</option>
          }
        </select>
      </form>
    </div>

    <div class="select-maladie">
      <h2>Sélection de la maladie concernée</h2>
      <form>
        <label for="id_maladie">id de la maladie</label><br>
        <select id="id_maladie" [(ngModel)]="traitement.id_maladie" name="id_maladie">
          <option value="0" disabled>-- Sélectionnez une maladie --</option>
          @for (identifiant of idMaladie(); track $index) {
            <option [value]="identifiant.idMaladie">{{ identifiant.nomMaladie || identifiant.nom }}</option>
          }
        </select>
      </form>
    </div>

    <div class="select-traitemet">
      <h2>Informations du traitement</h2>
      <form id="formbutton" (ngSubmit)="onSubmit()">
        <div class="left">
          <label for="nom">Nom du traitement</label><br>
          <input type="text" id="nom" [(ngModel)]="nomTraitement" name="nomTraitement" required><br>

          <label for="date_debut">Date début</label><br>
          <input type="date" id="date_debut" [(ngModel)]="datedebut" name="date_debut">
        </div>

        <div class="right">
          <label for="desc">Description</label><br>
          <input type="text" id="desc" [(ngModel)]="description" name="description"><br>

          <label for="date_fin">Date fin</label><br>
          <input type="date" id="date_fin" [(ngModel)]="datefin" name="date_fin">
        </div>
      </form>
    </div>

    <div class="select-agent">
      <h2>Section Agent de santé</h2>
      <form>
        <label for="id_agent">id de l'agent de santé</label><br>
        <select id="id_agent" [(ngModel)]="traitement.id_agent_sante" name="id_agent">
          <option value="0" disabled>-- Sélectionnez un agent --</option>
          @for (idenAgent of idAgent(); track $index) {
            <option [value]="idenAgent.idUtilisateur">{{ idenAgent.nom }}</option>
          }
        </select>
      </form>
    </div>

    <div class="btn1">
      <input type="button" class="annuler" (click)="onAnnuler()" value="Annuler">
      <input type="submit" class="ajouter" (click)="onSubmit()" form="formbutton" value="Ajouter">
    </div>
  </div>
</div>