

.dashboard-container{
    display:flex;
    min-height:100vh;  
}

.main-content{
    position: absolute;
    display: flex;
    flex-direction:column;
    width: 80%;
    right: 0;
    min-height:100vh; 
    top: 115px;
    background-color: #E9EFEC;
    justify-content: space-between;

    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;

}
    .card{
    display:flex;
    flex-direction: row;
    background-color: #E9EFEC;
    justify-content: space-between;
    padding: 0% 3%; 
    }
        .stat-cardAgent{
            align-items: center;
            justify-content:space-between;
            height: 130px;
            width: 300px;
            border: 2px  black solid;
            border-radius: 10px;
            background-color: white;
            color: #16423C;
            padding: 20px;
        }

        .stat-cardFull{
            justify-content:space-between;
            height: 130px;
            width: 300px; 
            border-radius: 10px;
            background-color:#16423C ;
            padding: 20px;
            color: white;
        }

            .card-header{
                display: flex;
                align-items:first baseline;
                justify-content: space-between;
            }
                .card-header i{
                    width: 100px;
                    height: 45%px;

                }
            .card-body{
                position: relative;
            }
                .card-body h2{
                    text-align:right;
                }


/* Graphe des altertes */
        .chart-card{
            position: absolute;
            background:white;
            border-radius:10px;
            padding:20px;
            width: 900px;
            right: 3%; 
            
        }

        .chart-header{
            margin-bottom:20px;
        }

            .chart-header h4{
                font-size:22px;
                font-weight:600;
                color:#174B45;
            }

                .chart-body{
                    height:400px;
                }
                

