* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f4;
}

/* Layout avec sidebar */
.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
  background-color: #f4f6f4;
}