* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f4;
}

.active-menu {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-right: -16px;
  background-color: #EEF3F1 !important;
}
*{
  background-color: #1ea160;
}