.sidebar .nav-link {
  font-size: 1.05rem;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.sidebar .nav-link:hover:not(.active-menu) {
  background-color: rgba(255, 255, 255, 0.1);
}

.active-menu {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-right: -16px;
  background-color: #EEF3F1 !important;
}
*{
  background-color: #1ea160;
}