<aside class="sidebar">

  <div class="logo">
    <img src="/logo.png" alt="SantéKunafoni">
  </div>

  <nav>
    <!-- 1. Tableau de bord Patient (Visible uniquement pour le PATIENT) -->
    <a *ngIf="authService.hasAnyRole(['PATIENT'])" routerLink="/dashboard" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-home"></i>
      <span>Tableau de bord</span>
    </a>

    <!-- 2. Dashboard Admin (Visible uniquement pour l'ADMIN) -->
    <a *ngIf="authService.hasAnyRole(['ADMIN'])" routerLink="/admin-dashboard" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-user-doctor"></i>
      <span>Dashboard Admin</span>
    </a>

    <!-- 3. Dashboard Agent (Visible uniquement pour l'AGENT_SANTE) -->
    <a *ngIf="authService.hasAnyRole(['AGENT_SANTE'])" routerLink="/agent-sante-liste" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-user-doctor"></i>
      <span>Dashboard Agent</span>
    </a>

    <!-- 4. Agents de santé (Visible uniquement par l'ADMIN) -->
    <a *ngIf="authService.hasAnyRole(['ADMIN'])" routerLink="/agent-sante-liste" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-user-nurse"></i>
      <span>Agents de santé</span>
    </a>

    <!-- 5. Patients (Visible par ADMIN et AGENT_SANTE) -->
    <a *ngIf="authService.hasAnyRole(['ADMIN', 'AGENT_SANTE'])" routerLink="/patients" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-user"></i>
      <span>Patients</span>
    </a>

    <!-- 6. Symptômes (Visible par ADMIN et AGENT_SANTE) -->
    <a *ngIf="authService.hasAnyRole(['ADMIN', 'AGENT_SANTE'])" routerLink="/symptomes" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-disease"></i>
      <span>Symptômes</span>
    </a>

    <!-- 7. Maladies (Visible par ADMIN et AGENT_SANTE) -->
    <a *ngIf="authService.hasAnyRole(['ADMIN', 'AGENT_SANTE'])" routerLink="/maladies" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-head-side-cough"></i>
      <span>Maladies</span>
    </a>

    <!-- 8. Traitements (Visible par ADMIN et AGENT_SANTE) -->
    <a *ngIf="authService.hasAnyRole(['ADMIN', 'AGENT_SANTE'])" routerLink="/traitements" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-briefcase-medical"></i>
      <span>Traitements</span>
    </a>

    <!-- 9. Notifications (Visible par tout le monde) -->
    <a *ngIf="authService.hasAnyRole(['PATIENT', 'AGENT_SANTE', 'ADMIN'])" routerLink="/notifications" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-regular fa-bell"></i>
      <span>Notifications</span>
    </a>

    <!-- 10. Profil (Visible par tout le monde) -->
    <!-- <a *ngIf="authService.hasAnyRole(['PATIENT', 'AGENT_SANTE', 'ADMIN'])" routerLink="/profil" routerLinkActive="active-menu" class="nav-link">
      <i class="fa-solid fa-user-gear"></i>
      <span>Profil</span>
    </a> -->

    <!-- ── DÉCONNEXION ───────────────────────── -->

    <div class="logout-container">
      <a routerLink="/connexion" routerLinkActive="active-menu" class="nav-link">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Déconnexion</span>
      </a>
    </div>

  </nav>
</aside>