nav {
    width: 260px;
    height: 100vh;
    background-color: #16423C;
    padding: 20px;
}
nav a{
    display: block;
    color: white;
    margin-bottom: 8px;
    padding: 12px 15px;
    border-radius: 8px;
    transition: 0.3s;
    text-decoration: none;
    align-items: center;
    gap: 15px;
}
nav a fa-icon {
    width: 20px;
    font-size: 18px;
}
nav a:hover{
    background-color: #16423C;
    color: white;
}
.active{
    background-color: white;
    color: #16423C;
    font-weight: bold;
}
.logo{
    margin-bottom:40px;
    text-align:center;
}

.logo img{
    width:140px;
}