<nav>
<h3>
    Santekunafoni
</h3>
<a routerLink="/dashboard"
routerLinkActive="active">
    Tableau de bord
</a>
<a routerLink="/agents"  
routerLinkActive="active">
    Agents de santé
</a>
<a routerLink="/patients"
 routerLinkActive="active">
    Patients
</a>
<a routerLink="/symptomes"
 routerLinkActive="active">
    Symptômes
</a>

<a routerLink="/maladies"
 routerLinkActive="active">
    Maladies détectées
</a>
<a routerLink="/traitements"
 routerLinkActive="active">
    Traitements
</a>
<a routerLink="/notifications"
 routerLinkActive="active">
    Notifications
</a>
<a routerLink="/profil"
 routerLinkActive="active">
    Profil
</a>
<a routerLink="/login"
 routerLinkActive="active">
    Déconnexion
</a>
</nav>

