<aside class="sidebar">

  <!-- Logo -->
  <div class="logo">
    <img src="assets/images/logo.png" alt="SantéKunafoni">
  </div>

  <!-- Menu -->
  <nav>

    <a routerLink="/dashboard" routerLinkActive="active">
      <fa-icon [icon]="faGaugeHigh"></fa-icon>
      <span>Tableau de bord</span>
    </a>

    <a routerLink="/agents" routerLinkActive="active">
      <fa-icon [icon]="faUserNurse"></fa-icon>
      <span>Agents de santé</span>
    </a>

    <a routerLink="/patients" routerLinkActive="active">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span>Patients</span>
    </a>

    <!-- les autres menus -->

  </nav>

</aside>